:root {
    --index: calc(1vw + 1vh);
    --devShakeImgSize: 10;
}

.home-screan .img-layer.heght-leyer {
    right: calc(var(--index)*10);
    top: calc(var(--index)*7);
    transform: translate3d(var(--mousePositionX), var(--mousePositionY), 0);
}

.home-screan .img-layer.bottom-leyer {
    right: calc(var(--index)*9.5);
    top: calc(var(--index)*7.5);
    transform: translate3d(calc(var(--mousePositionX)/5*var(--devShakeImgSize)), calc(var(--mousePositionY)/5*var(--devShakeImgSize)), 0);
}

.home-screan .img-layer>img {
    width: calc(var(--index)*var(--devShakeImgSize));
    height: calc(var(--index)*var(--devShakeImgSize)*1.8);
}