.topnav {
    overflow: hidden;
    background-color: transparent;
    position: relative;
    right:0px;
  }
  
  .topnav #Links1,#lang{
    display: none;
  }
  #lang{
    padding-right: 40px;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    font-size: 14px;
    display: block;
    right:10px;
    text-align:right;
    text-decoration: none;
  }
  
  .topnav a.icon {
    background: transparent;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav a.icon2 {
    background: transparent;
    display: block;
    position: absolute;
    right: 40px;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: transparent;
    color: #03fce3;
    text-decoration: none;
  }
  
  .top {
    height:40px;
  }
  