@font-face {
  font-family: alien_f;
  src: url("./../fonts/10890.otf");
}
@font-face {
  font-family: Anurati;
  src: url("./../fonts/Anurati-Regular.otf");
}
body,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif !important;
}

body, html {
  scroll-snap-type: proximity;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y proximity;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}


a {
  text-decoration: none;
}

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 99%;
  min-height: 30px;
  z-index: 999;
}
header .burger-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: none;
  border: none;
  opacity: 0.3;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
header .burger-button div:nth-child(n) {
  margin-top: 7px;
  background: #305263;
  height: 6px;
  border-radius: 0px;
  mix-blend-mode: overlay;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}
header .burger-button div:nth-child(1) {
  width: 61px;
}
header .burger-button div:nth-child(2) {
  width: 41px;
}
header .burger-button div:nth-child(3) {
  width: 61px;
}
header .burger-button:hover {
  opacity: 0.6;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.main-botton {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(48, 82, 99, 0.5);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: overlay;
  font-family: "Anurati";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 62px;
  border: 1px solid;
  border-image-source: linear-gradient(149.91deg, rgba(57, 79, 90, 0.375) 18.38%, rgba(137, 194, 227, 0.375) 62.35%);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.main-botton:hover {
  background: #305263;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#home-page {
  min-height: 100vh;
  position: relative;
  background-image: url(../img/home-background.png);
}

.title {
  min-height: 100vh;
  min-width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.title h1 {
  font-family: "Anurati";
  font-style: normal;
  font-weight: 400;
  font-size: 216px;
  line-height: 259px;
  color: #FFFFFF;
  mix-blend-mode: overlay;
}
.title h2 {
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: overlay;
}

#performance-page {
  background-color: #162022;
  min-height: 100vh;
}

.nlo {
  background-image: url(../img/ufo-documentaries-0%201.png);
  background-clip: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: -10%;
  left: 25%;
  width: 50%;
  position: absolute;
  height: 530px;
  mix-blend-mode: soft-light;
}

/* PAGE 2 --------------------------INTRO -----------------------------*/
body {
  overflow-x: hidden; 
}

/* ---------- Fog ---------- */
.fogwrapper {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
}
#foglayer_01, #foglayer_02, #foglayer_03 {
  height: 100%;
  position: absolute;
  width: 200%;
}
#foglayer_01 .image01, #foglayer_01 .image02,
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02 {
  float: left;
  height: 100%;
  width: 50%;
}
#foglayer_01 {
  -webkit-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  -moz-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
}
#foglayer_02, #foglayer_03 {
  -webkit-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
  -moz-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
  animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
}

/* ---------- Moving Fog ---------- */
/*
  'size: cover' || 'size: 100%'; results remain the same
  'attachment: scroll' can be added or removed; results remain the same
  'attachment: fixed' causing unexpected results in Chrome
  'repeat-x' || 'no-repeat'; results remain the same
*/ 
#foglayer_01 .image01, #foglayer_01 .image02 {
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png") center center/cover no-repeat transparent;
}
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02{
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png") center center/cover no-repeat transparent;
}

/* ---------- Keyframe Layer 1 ---------- */
@-webkit-keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
@-moz-keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
@-o-keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
@keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
/* ---------- Keyframe Layer 2 ---------- */
@-webkit-keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
@-moz-keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
@-o-keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
@keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
/* ---------- Keyframe Layer 3 ---------- */
@-webkit-keyframes foglayer_03_opacity {
  0% { opacity: .8 }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
@-moz-keyframes foglayer_03_opacity {
  0% { opacity: .8 }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
@-o-keyframes foglayer_03_opacity {
  0% { opacity: .8 }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
@keyframes foglayer_03_opacity {
  0% { opacity: .8; }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
/* ---------- Keyframe moveMe ---------- */
@-webkit-keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}
@-moz-keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}
@-o-keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}
@keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}

@media only screen
  and (min-width: 280px)
  and (max-width: 767px) {
    #foglayer_01 .image01, #foglayer_01 .image02,
    #foglayer_02 .image01, #foglayer_02 .image02,
    #foglayer_03 .image01, #foglayer_03 .image02 {
      width: 100%;
    }
  }


#ppage-content{
  width:40vw;
  height:80vh;
  text-align: center;
  float:left;
  margin:10vh 5vw 10vh 5vw;
  color:white;
  padding:2.5vh 2.5vw 2.5vh 2.5vw;
  box-shadow: inset 0 0 25px #080808;
}

#ppage-disp{
  width:40vw;
  height:90vh;
  float:left;
  margin:5vh 2.5vw 5vh 2.5vw;
  color:white;
}

#ppage-content h2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}


#ppage-content h2:before,
#ppage-content h2:after {
  content: '';
  border-top: 2px solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

#ppage-content h2:after {
  margin: 0 0 0 20px;
}
.glass{
  width:30vw;
  margin:0vh 5vw 0vh 5vw;
  height:100%;
  position:relative;
  z-index:3;
}

.drink{
  max-height:0;
  width:20vw;
  left:10vw;
  top:66vh;
  position: absolute;
  z-index:2;
}
.test{
  transition:1s;
  transition-timing-function: ease-out;
  max-height:100%;
  width:30vw;
  left:5vw;
  top:0;
}

.drink2{
  position:absolute;
  top:0;
  left:5vw;
  width:30vw;
  z-index:1;
  opacity:0;
}

.test2{
  transition:2s;
  opacity: 1 !important;
}

.laser{
  margin-left:6.5vw;
  margin-top: -60vh;
  width: 0;
	height: 0;
	border-left: 30vh solid transparent;
	border-right: 30vh solid transparent;
	border-bottom: 10vw solid rgba(135, 255, 145, 0.6);
  border-bottom-left-radius: 35% 5%;
  border-bottom-right-radius: 35% 5%;
  position:absolute;
  top:0;
  -webkit-filter: drop-shadow(0px 0px 15px rgba(98, 255, 87, 0.9));
  filter: drop-shadow(0px 0px 15px rgba(98, 255, 87, 0.9));
  z-index:4;
  opacity:0;
  transition:0.1s;
}

.laserfirin{
  transition:0.4s;
  opacity:0.95;
  border-bottom: 60vw solid rgba(135, 255, 145, 0.6) !important;
}


/* PAGE 3 ----------------------------------- ABOUT US ---------------------*/



/* PAGE 4 ----------------------------------- PROJ ---------------------*/

#projects{
  background-color: #08080873;
  
}

.projects-wrap{
  width:100vw;
  margin:0vh 1vw 0vh 1vw;
  padding:1vh 5vw 1vh 5vw;
  float:left;
}
.projects-wrap h1{
  text-align: center;
  font-family: "Anurati";
  font-style: normal;
  font-weight: 400;
  font-size: 300%;
  margin-bottom:2vh;
}

.pcolumn{
  width:20vw;
  float:left;
  height:100vh;
  margin:0 1.25vw 0 1.25vw;
}

.lower{
  margin-top:8vh;
}

.proj{
  width:18vw;
  height: 60vh;
  margin:4vh 1vw 2vh 1vw;
  background-color: #080808;
  padding:0.5vw;
  border-radius: 5%;
}

.proj:hover{
  transition: 1s ease-in-out;
  cursor:pointer;
  margin:2vh 1vw 3vh 1vw;
  box-shadow: 0 8vh 50px -1vh rgba(0, 0, 0, 0.573);
  color:#FFFFFF;
}

.proj h4{
  text-align: center;
}

.proj p{
  font-size:75%;
}

.proj img{
  border-radius: 5% 5% 0 0;
  width:100%;
}

