@font-face {
    font-family: alien_f;
    src: url('./../fonts/10890.otf');
}

@font-face {
    font-family: Anurati;
    src: url('./../fonts/Anurati-Regular.otf');
}

body,
ul,
ol,
li {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif !important;
    //font-family: alien_f, sans-serif !important;
}

h1,h2,h3,h4,h5{
     margin: 0;
    padding: 0;
    font-family: 'Anurati', sans-serif !important;
}

a {
    text-decoration: none;
}