@import 'default.scss';
@import 'header.scss';
@import 'button.scss';

#home-page {
    min-height: 100vh;
    position: relative;
    background-image: url(../img/home-background.png);
    
}

.title {
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: 'Anurati';
        font-style: normal;
        font-weight: 400;
        font-size: 216px;
        line-height: 259px;
        color: #FFFFFF;
        mix-blend-mode: overlay;
    }

    h2 {
        font-weight: 300;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        color: #FFFFFF;
        mix-blend-mode: overlay;
    }
}


#performance-page{
    background-color: #162022;
    min-height: 100vh;
}


.nlo{
    background-image: url(../img/ufo-documentaries-0%201.png);
    background-clip: content-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: -10%;
    left: 25%;
    width: 50%;
    position: absolute;
    height: 530px;
    mix-blend-mode: soft-light;
}